<div class="container">
  <div class="row mt-3 ml-2">
    <div class="col">
    <h3>{{isEdit ? 'Edit recipe' : 'Add recipe'}}</h3>
    <form [formGroup]="recipiesForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Dish name</label>
        <input
          type="text"
          formControlName="name"
          id="name"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('name', 'required')"
          class="form-text invalid-form-text"
        >
          Enter name of recipe
        </small>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input
          type="text"
          formControlName="image"
          id="image"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('image', 'required')"
          class="form-text invalid-form-text"
        >
          Image of recipe have to be entered
        </small>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          formControlName="description"
          id="description"
          cols="30"
          class="form-control"
        >
        </textarea>
        <small
          *ngIf="fieldHasError('description', 'required')"
          class="form-text invalid-form-text"
        >
          Enter description of recipe
        </small>
      </div>

      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea
          formControlName="ingredients"
          id="ingredients"
          cols="30"
          class="form-control"
        ></textarea>
        <small
          *ngIf="fieldHasError('ingredients', 'required')"
          class="form-text invalid-form-text"
        >
          Please do not forget to enter ingredients
        </small>
      </div>

      <div class="form-group" formArrayName="steps">
        <button
          type="button"
          class="btn btn-outline-info"
          (click)="addSteps()"
        >Add steps
        </button>

        <div
          class="form-inline d-flex p-2"
          *ngFor="let step of getStepControls(); let i = index" [formGroupName]='i'>
          <div
            class="d-flex justify-content-center"
          >
            <p>Step {{ i + 1 }}</p>
            <label for="imageUrl"></label>
            <input
              placeholder="Image"
              type="text"
              formControlName="imageUrl"
              id="imageUrl"
              class="form-control"
            />&nbsp;

            <label for="text"></label>
            <textarea
              placeholder="Description"
              type="text"
              formControlName="text"
              id="text"
              cols="27"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>

      <button
        class="btn btn-primary"
        [disabled]="recipiesForm.invalid || isTouched "
      >
        <span *ngIf="!isUploading">
      {{isEdit ? 'Edit' : 'Save'}}
    </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        <span
          *ngIf="isUploading"
          class="spinner-border spinner-border-sm">
      <span class="sr-only">Loading...</span>
    </span>
      </button>
    </form>
    </div>
  </div>
</div>
