<script src="app.module.ts"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Recipes</a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="new-recipes" class="nav-link">Add new recipes</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
