<div class="d-flex mb-4">
  <div class="card text-black-50 mx-auto" style="width: 35rem;">
    <h3 class="card-title"><strong>{{ recipe.name }}</strong></h3>
    <img [src]="recipe.image" class="card-img-top" alt="{{ recipe.name }}">
    <div class="card-body">
      <p class="card-text"><strong>Description:</strong> {{ recipe.description }}</p>
      <p class="card-text"><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
    </div>
    <div class="card-body" *ngFor="let item of recipe.steps, let i = index">
      <p class="btn-outline-info">Step {{ i +1 }}</p>
      <img [src]="item.imageUrl" style="max-width: 250px" class="list-group-item align-self-stretch mb-3"
           alt="{{ recipe.name }}"/>&nbsp;
      <p class="list-group-item descriptionText d-inline ml-0 pl-0 pr-3"><strong>Description:</strong> {{ item.text }}
      </p>
      <button class="btn btnDelete btn-outline-danger d-inline p-2" (click)="onDeleteSteps(recipe.id)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
             viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
    </div>
    <div class="card-body">
      <a class="btn btn-success"
         [routerLink]="['/', recipe.id, 'edit']"
      >Edit</a>
      <span
        *ngIf="isUploading"
        class="spinner-border spinner-border-sm">
      <span class="sr-only">Loading...</span>
    </span>
    </div>
  </div>
</div>
