body,html{
  height: 100%;
  color: lightgoldenrodyellow;
  box-sizing: border-box;
  background: url("https://external-preview.redd.it/3Orwb0bc2jVTSoXRUM_6hRlZUyBBnD-dq56D4jXNAtw.jpg?width=640&crop=smart&auto=webp&s=a83a5a27ba5d66eb589b1310d4e4395f8631e7e6");
}
